*.class

#package file
*.war
*.ear

#kdiff3 ignore
*.orig

#maven ignore
target/

#eclipse ignore
.settings/
.project
.classpath

#idea ignore
.idea/
/idea/
*.ipr
*.iml
*.iws

#temp file
*.log
*.cache
*.diff
*.patch
*.tmp

#system ignore
.DS_Store
Thumbs.db

#暂时关闭了Git对index.jsp文件的跟踪，命令行：git update-index --skip-worktree "src/main/webapp/index.jsp"
#如果想打开，则执行：git update-index --no-skip-worktree "src/main/webapp/index.jsp"

#git update-index --assume-unchanged "/app/*.xml";//关闭跟踪app目录下后缀为.xml的文件
#git update-index --assume-unchanged "/app/";//打开跟踪app目录下的所有文件



